In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [4]:
df=pd.read_csv("/kaggle/input/bank-marketing-term-deposits-classification/Train.csv")

In [5]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [12]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [21]:
data=['job', 'marital', 'education', 'default', 'housing',
       'loan', 'contact', 'month', 'poutcome']

In [22]:
transformer=ColumnTransformer(transformers=[
    ("one_hot",OneHotEncoder(),data)
])
td=transformer.fit_transform(df)
td1=td.toarray()
td2=pd.DataFrame(td1,columns=transformer.get_feature_names_out())
new_df1=pd.concat([df,td2],axis=1)
new_df=new_df1.drop(columns=['job', 'marital', 'education', 'default', 'housing',
       'loan', 'contact', 'month', 'poutcome'])

In [23]:
new_df

,age,balance,day,duration,campaign,pdays,previous,y,one_hot__job_admin.,one_hot__job_blue-collar,...,one_hot__month_jun,one_hot__month_mar,one_hot__month_may,one_hot__month_nov,one_hot__month_oct,one_hot__month_sep,one_hot__poutcome_failure,one_hot__poutcome_other,one_hot__poutcome_success,one_hot__poutcome_unknown
0,58,2143,5,261,1,-1,0,no,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,44,29,5,151,1,-1,0,no,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,33,2,5,76,1,-1,0,no,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,47,1506,5,92,1,-1,0,no,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,33,1,5,198,1,-1,0,no,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,825,17,977,3,-1,0,yes,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
45207,71,1729,17,456,2,-1,0,yes,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
45208,72,5715,17,1127,5,184,3,yes,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
45209,57,668,17,508,4,-1,0,no,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
45210,37,2971,17,361,2,188,11,no,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [10]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [24]:
X=new_df.drop(columns=["y"])
Y=df[["y"]]

,age,balance,day,duration,campaign,pdays,previous,one_hot__job_admin.,one_hot__job_blue-collar,one_hot__job_entrepreneur,...,one_hot__month_jun,one_hot__month_mar,one_hot__month_may,one_hot__month_nov,one_hot__month_oct,one_hot__month_sep,one_hot__poutcome_failure,one_hot__poutcome_other,one_hot__poutcome_success,one_hot__poutcome_unknown
0,58,2143,5,261,1,-1,0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,44,29,5,151,1,-1,0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,33,2,5,76,1,-1,0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,47,1506,5,92,1,-1,0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,33,1,5,198,1,-1,0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,825,17,977,3,-1,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
45207,71,1729,17,456,2,-1,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
45208,72,5715,17,1127,5,184,3,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
45209,57,668,17,508,4,-1,0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
45210,37,2971,17,361,2,188,11,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [29]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [63]:
label_encoder=LabelEncoder()
new_Y1=label_encoder.fit_transform(Y_train)
new_Y=pd.DataFrame(new_Y1,columns=["target"])
# new_Y

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [32]:
random_class=RandomForestClassifier(n_estimators=50)
random_class.fit(X_train,Y_train)
random_class.score(X_test,Y_test)

/tmp/ipykernel_33/794929178.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  random_class.fit(X_train,Y_train)

0.9045670684507354

# # Deep learning

In [41]:
from keras.layers import Dense,Flatten,Dropout,LSTM,SimpleRNN,Input
from keras.models import Model

In [42]:
X_train_reshaped=X_train.values.reshape(X_train.shape[0],1,X_train.shape[1])
X_train_reshaped.shape

(36168, 1, 51)

In [55]:
inputs=Input(shape=(1,51))
l1=LSTM(32,activation="relu",return_sequences=True)(inputs)
l2=LSTM(64,activation="relu")(l1)
d2=Dense(128,activation="relu")(l2)
outputs=Dense(1,activation="sigmoid")(d2)
model=Model(inputs,outputs)
model.compile(optimizer='adam',loss="binary_crossentropy",metrics=["accuracy"])

In [64]:
model.fit(X_train_reshaped,new_Y,epochs=10,batch_size=42,validation_split=0.2)

Epoch 1/10
689/689 ━━━━━━━━━━━━━━━━━━━━ 8s 6ms/step - accuracy: 0.8592 - loss: 0.5585 - val_accuracy: 0.8819 - val_loss: 0.3992
Epoch 2/10
689/689 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.8820 - loss: 0.3394 - val_accuracy: 0.8851 - val_loss: 0.2954
Epoch 3/10
689/689 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.8864 - loss: 0.2991 - val_accuracy: 0.8887 - val_loss: 0.2699
Epoch 4/10
689/689 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.8882 - loss: 0.2797 - val_accuracy: 0.8868 - val_loss: 0.2656
Epoch 5/10
689/689 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.8849 - loss: 0.2735 - val_accuracy: 0.8844 - val_loss: 0.2701
Epoch 6/10
689/689 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.8840 - loss: 0.3043 - val_accuracy: 0.8883 - val_loss: 0.2584
Epoch 7/10
689/689 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.8876 - loss: 0.2630 - val_accuracy: 0.8836 - val_loss: 0.2541
Epoch 8/10
689/689 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.8899 - loss: 0.2579 - val_accuracy: 0.8851 - val_loss: 0.2574
Epoch 9/10
689/689 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.8870 - loss: 0.2633 - val_accuracy: 0.8843 - val_loss: 0.2515
Epoch 10/10
689/689 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.8896 - loss: 0.2584 - val_accuracy: 0.8897 - val_loss: 0.2510