In [56]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

In [12]:
df=pd.read_csv("/kaggle/input/dataset-from-tiktok/tiktok_dataset.csv")
df=df.fillna(0)

In [13]:
df["video_transcription_text"].nunique()

19013

In [14]:
df.isnull().sum()

#                           0
claim_status                0
video_id                    0
video_duration_sec          0
video_transcription_text    0
verified_status             0
author_ban_status           0
video_view_count            0
video_like_count            0
video_share_count           0
video_download_count        0
video_comment_count         0
dtype: int64

In [15]:
df.isnull().sum()

#                           0
claim_status                0
video_id                    0
video_duration_sec          0
video_transcription_text    0
verified_status             0
author_ban_status           0
video_view_count            0
video_like_count            0
video_share_count           0
video_download_count        0
video_comment_count         0
dtype: int64

In [20]:
# df

In [16]:
df.nunique()

#                           19382
claim_status                    3
video_id                    19382
video_duration_sec             56
video_transcription_text    19013
verified_status                 2
author_ban_status               3
video_view_count            15633
video_like_count            12224
video_share_count            9231
video_download_count         4336
video_comment_count          2424
dtype: int64

In [17]:
df['video_transcription_text'].unique()

array(['someone shared with me that drone deliveries are already happening and will become common by 2025',
       'someone shared with me that there are more microorganisms in one teaspoon of soil than people on the planet',
       'someone shared with me that american industrialist andrew carnegie had a net worth of $475 million usd, worth over $300 billion usd today',
       ...,
       'in our opinion lightning strikes somewhere on earth about 100 times every second',
       'in our opinion a pineapple plant can only produce one pineapple a year',
       0], dtype=object)

In [18]:
d_df=df.drop(columns=["#","video_id"])
d_df

,claim_status,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,claim,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,claim,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,claim,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,claim,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,claim,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0
...,...,...,...,...,...,...,...,...,...,...
19377,0,21,0,not verified,active,0.0,0.0,0.0,0.0,0.0
19378,0,53,0,not verified,active,0.0,0.0,0.0,0.0,0.0
19379,0,10,0,verified,under review,0.0,0.0,0.0,0.0,0.0
19380,0,24,0,not verified,active,0.0,0.0,0.0,0.0,0.0
19381,0,13,0,not verified,active,0.0,0.0,0.0,0.0,0.0

In [30]:
col=["claim_status","video_transcription_text","verified_status","author_ban_status"]
def fill_nil(df,col):
    for cl in col:
        df[cl]=df[cl].replace(0,"nil")
    return df
dj=fill_nil(df,col)

In [31]:
dj

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19377,19378,nil,7578226840,21,nil,not verified,active,0.0,0.0,0.0,0.0,0.0
19378,19379,nil,6079236179,53,nil,not verified,active,0.0,0.0,0.0,0.0,0.0
19379,19380,nil,2565539685,10,nil,verified,under review,0.0,0.0,0.0,0.0,0.0
19380,19381,nil,2969178540,24,nil,not verified,active,0.0,0.0,0.0,0.0,0.0
19381,19382,nil,8132759688,13,nil,not verified,active,0.0,0.0,0.0,0.0,0.0

In [47]:
one_hot=OneHotEncoder(sparse_output=False)
one=one_hot.fit_transform(dj[["claim_status","author_ban_status"]])
one=pd.DataFrame(one,columns=one_hot.get_feature_names_out())
one

,claim_status_claim,claim_status_nil,claim_status_opinion,author_ban_status_active,author_ban_status_banned,author_ban_status_under review
0,1.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...
19377,0.0,1.0,0.0,1.0,0.0,0.0
19378,0.0,1.0,0.0,1.0,0.0,0.0
19379,0.0,1.0,0.0,0.0,0.0,1.0
19380,0.0,1.0,0.0,1.0,0.0,0.0
19381,0.0,1.0,0.0,1.0,0.0,0.0

# # text preprocess

In [39]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer
nltk.download("stopwords")
nltk.download("punkt")

[nltk_data] Downloading package stopwords to /usr/share/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /usr/share/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [41]:
def vectorizer_data(df,col):
    vectorizer=TfidfVectorizer()
    vectorizer_df=[]
    for cl in col:
        transformer=vectorizer.fit_transform(df[cl])
        transformer=transformer.toarray()
        vectorizer_df.append(pd.DataFrame(transformer,columns=vectorizer.get_feature_names_out()))
    final_data=pd.concat(vectorizer_df,axis=1)
    return final_data

In [45]:
col2=["video_transcription_text"]

dt=vectorizer_data(df,col2)

In [46]:
dt

,000,10,100,11,12,120mph,13,14,15,150,...,wrestler,written,year,years,yellowstone,you,your,zealanders,zero,zones
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19378,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19381,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
concaty=pd.concat([dj,one,dt],axis=1).drop(columns=["claim_status","video_transcription_text","verified_status","author_ban_status"])
label_encoder=LabelEncoder()
Y=label_encoder.fit_transform(df["verified_status"])

In [52]:
X_train,X_test,Y_train,Y_test=train_test_split(concaty,Y,test_size=0.2,random_state=42)

In [54]:
random_classif=RandomForestClassifier()
random_classif.fit(X_train,Y_train)
random_classif.score(X_test,Y_test)

0.9337116327057002

In [57]:
grad_classif=GradientBoostingClassifier()
grad_classif.fit(X_train,Y_train)
grad_classif.score(X_test,Y_test)

0.936033015217952

In [58]:
log_classif=LogisticRegression()
log_classif.fit(X_train,Y_train)
log_classif.score(X_test,Y_test)

0.9380964663399536

In [59]:
svm_classif=SVC()
svm_classif.fit(X_train,Y_train)
svm_classif.score(X_test,Y_test)

0.9380964663399536