In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from sklearn.svm import SVC

In [2]:
df=pd.read_csv("/kaggle/input/housing-in-london-boroughs/London_houses.csv")

In [3]:
df

,no,property_name,price,house_type,sqft,bedrooms,bathrooms,receptions,location,city,postal_code
0,0,Queens Road,1675000,House,2716,5,5,5,Wimbledon,London,SW19 8NY
1,1,Seward Street,650000,Flat / Apartment,814,2,2,2,Clerkenwell,London,EC1V 3PA
2,2,Hotham Road,735000,Flat / Apartment,761,2,2,2,Putney,London,SW15 1QL
3,3,Festing Road,1765000,House,1986,4,4,4,Putney,London,SW15 1LP
4,4,Spencer Walk,675000,Flat / Apartment,700,2,2,2,Putney,London,SW15 1PL
...,...,...,...,...,...,...,...,...,...,...,...
3475,3475,One Lillie Square,3350000,New development,1410,3,3,3,NaN,Lillie Square,SW6 1UE
3476,3476,St. James's Street,5275000,Flat / Apartment,1749,3,3,3,St James's,London,SW1A 1JT
3477,3477,Ingram Avenue,5995000,House,4435,6,6,6,Hampstead Garden Suburb,London,NW11 6TG
3478,3478,Cork Street,6300000,New development,1506,3,3,3,Mayfair,London,W1S 3AR
3479,3479,Courtenay Avenue,8650000,House,5395,6,6,6,Highgate,London,N6 4LP

In [14]:
new_df=pd.get_dummies(df).astype(int)

In [15]:
new_df

,no,price,sqft,bedrooms,bathrooms,receptions,property_name_1 Eastfields Avenue,property_name_10 Park Drive,property_name_17 Lillie Square,property_name_23 Maud Street,...,postal_code_WD19 4PL,postal_code_WD19 4PU,postal_code_WD19 4QG,postal_code_WD19 4QQ,postal_code_WD19 4TR,postal_code_WD19 4TS,postal_code_WD23 2RG,postal_code_WD23 2RH,postal_code_WD23 3EW,postal_code_WD7 9HJ
0,0,1675000,2716,5,5,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,650000,814,2,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,735000,761,2,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,1765000,1986,4,4,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,675000,700,2,2,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475,3475,3350000,1410,3,3,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3476,3476,5275000,1749,3,3,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3477,3477,5995000,4435,6,6,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3478,3478,6300000,1506,3,3,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3479,3479,8650000,5395,6,6,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
X=new_df.drop(columns=["price"])
Y=new_df["price"]

In [17]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [18]:
lin_reg=LinearRegression()
lin_reg.fit(X_train,Y_train)
lin_reg.score(X_test,Y_test)

-373125267976602.2

In [19]:
rand_reg=RandomForestRegressor()
rand_reg.fit(X_train,Y_train)
rand_reg.score(X_test,Y_test)

0.6677078140193424

In [16]:
grad_reg=GradientBoostingRegressor()
grad_reg.fit(X_train,Y_train)
grad_reg.score(X_test,Y_test)

0.678531579684144

In [18]:
svm_reg=SVC()
svm_reg.fit(X_train,Y_train)
svm_reg.score(X_test,Y_test)

0.02442528735632184

In [24]:
inputs=X_test.iloc[2]
array_reshape=np.reshape(inputs,(1,-1))
print(array_reshape)
predict=rand_reg.predict(array_reshape)
predict

[[1298 2953    7 ...    0    0    0]]

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([2418350.])

In [23]:
X_test.iloc[2]

no                      1298
sqft                    2953
bedrooms                   7
bathrooms                  7
receptions                 7
                        ...
postal_code_WD19 4TS       0
postal_code_WD23 2RG       0
postal_code_WD23 2RH       0
postal_code_WD23 3EW       0
postal_code_WD7 9HJ        0
Name: 1298, Length: 5951, dtype: int64

In [26]:
Y_test.iloc[2]

2700000