In [45]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier,GradientBoostingRegressor
from sklearn.linear_model import LinearRegression,LogisticRegression

In [8]:
cols=['Course_Name', 'Category', 'Duration (hours)',
       'Enrolled_Students', 'Completion_Rate (%)', 'Platform', 'Price ($)',
       'Rating (out of 5)']
df=pd.read_csv("/kaggle/input/online-courses-usage-and-history-dataset/online_courses_uses.csv",usecols=cols)

In [9]:
df.columns

Index(['Course_Name', 'Category', 'Duration (hours)', 'Enrolled_Students',
       'Completion_Rate (%)', 'Platform', 'Price ($)', 'Rating (out of 5)'],
      dtype='object')

In [10]:
df.sample()

,Course_Name,Category,Duration (hours),Enrolled_Students,Completion_Rate (%),Platform,Price ($),Rating (out of 5)
8846,Course_8847,Office Tools,78,2219,97.925003,LinkedIn Learning,94.214382,4.867622

In [6]:
df.nunique()

Course_ID              10000
Course_Name            10000
Category                   9
Duration (hours)          91
Enrolled_Students       4240
Completion_Rate (%)    10000
Platform                   4
Price ($)              10000
Rating (out of 5)      10000
dtype: int64

In [11]:
df.dtypes

Course_Name             object
Category                object
Duration (hours)         int64
Enrolled_Students        int64
Completion_Rate (%)    float64
Platform                object
Price ($)              float64
Rating (out of 5)      float64
dtype: object

In [13]:
label_encod=LabelEncoder()
lab=["Course_Name","Category","Platform"]
for l in lab:
    df[l]=label_encod.fit_transform(df[l])

In [34]:
one_hot=OneHotEncoder(sparse_output=False)
dy=one_hot.fit_transform(df[["Course_Name","Category","Platform"]])
dy=pd.DataFrame(dy,columns=one_hot.get_feature_names_out())

In [35]:
dy

,Course_Name_0,Course_Name_1,Course_Name_2,Course_Name_3,Course_Name_4,Course_Name_5,Course_Name_6,Course_Name_7,Course_Name_8,Course_Name_9,...,Category_3,Category_4,Category_5,Category_6,Category_7,Category_8,Platform_0,Platform_1,Platform_2,Platform_3
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
9999,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [15]:
X=df.drop(columns=["Rating (out of 5)"])
Y=df["Rating (out of 5)"]

In [21]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [27]:
random_reg=RandomForestRegressor(n_estimators=50)
random_reg.fit(X_train,Y_train)
random_reg.score(X_test,Y_test)

-0.03958785509254814

In [30]:
grad_reg=GradientBoostingRegressor()
grad_reg.fit(X_train,Y_train)
grad_reg.score(X_test,Y_test)

-0.009049724521291047

In [40]:
new_df=pd.concat([df,dy],axis=1)
new_df=new_df.drop(columns=lab)

In [41]:
new_df

,Duration (hours),Enrolled_Students,Completion_Rate (%),Price ($),Rating (out of 5),Course_Name_0,Course_Name_1,Course_Name_2,Course_Name_3,Course_Name_4,...,Category_3,Category_4,Category_5,Category_6,Category_7,Category_8,Platform_0,Platform_1,Platform_2,Platform_3
0,21,4217,50.646827,38.797425,4.811252,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,57,4238,82.240240,160.650991,3.829329,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,52,2700,55.729028,123.503781,4.851950,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,69,4308,58.664729,116.775704,3.913732,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,43,4792,62.598147,96.246696,4.921968,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,87,482,55.407463,155.965331,4.155649,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9996,96,2029,93.093483,151.022434,4.037755,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9997,25,136,90.279510,101.155089,3.603868,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9998,46,3258,73.720149,101.143232,3.825781,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
9999,50,257,71.381890,125.116906,3.767038,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [42]:
new_X=new_df.drop(columns=["Rating (out of 5)"])
new_y=new_df["Rating (out of 5)"]

In [44]:
new_X_train,new_X_test,new_Y_train,new_Y_test=train_test_split(new_X,new_y,test_size=0.2,random_state=42)

In [46]:
lin_reg=LinearRegression()
lin_reg.fit(X_train,Y_train)
lin_reg.score(X_test,Y_test)

-0.0011965511634091097